*, html {margin: 0;padding: 0;
}
body {color: #1e2023;font: 100 12px/24px Verdana, Geneva, sans-serif!important;background-color: #fff;
}
ul, li {list-style: none;padding: 0;margin: 0;
}
a {color: #363636;text-decoration: none;outline: none;
}
.header_top {background-color: #3e7cb4;color: #fff;height: 45px;line-height: 45px;
}
.links {display: inline-block;
}
.links li {display: inline-block;border-right: 1px dotted #5b9ad4;padding: 0 10px;
}
.links a, .btn-link span {color: #fff;
}
.header {padding: 20px 0;
}
.logo {font-size: 20px;
}
.box_ article {background-color: #f1f1f1;padding: 10px;font-weight: 700;
}
.alert {display: none;
}
.box_ span {display: block;font-weight: normal;
}
.login {padding-left: 80px;
}
.login .col-md-4 {text-align: right;
}
#myCarousel {text-align: center;margin-bottom: 25px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {display: inline-block;
}
.footer {background: #f1f1f1;padding: 20px 0;margin-top: 25px;
}
.price-old {text-decoration: line-through;margin: 0 5px;
}
.price-new {font-size: 20px;margin: 0 10px 0 0;
}
.price-tax {font-weight: bold;color: red;
}
.price-tax {font-style: italic;
}
.add-to-links {margin-top: 10px;
}
.product a img {background: #f1f1f1;padding: 2px;
}
.content {clear: both;margin: 20px 0;
}
h2, h3, h4, h5, h6 {margin: 0 0 15px;
}
legend {padding-bottom: 10px;
}
.product_image {height: 275px;
    border: solid 1px #f1f1f1;
}
.product .row {margin-bottom: 25px;
}
 @media only screen and (max-width: 767px) {
}
